main {
  width: 100%;
}

.main_banner {
  max-height: 878px;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

.main_banner_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  min-width: 1110px;
}

.main_banner_h {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 110px;
  font-weight: 700;
  color: #4D6575;
}

.main_banner_h > p:nth-child(2) {
  margin-left: 226px;
}

.main {
  position: relative;
}

