.main__img {
  background-image: url('../../../public/Images/Main/yacht-mainpage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: calc(100vh - 80px);
  
}

.main__btn {
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  padding: 30px;
  background: white;
  color: black;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid black ;
  border-radius: 30px;
}

.main {
  position: relative;
}

