<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Custom CSS -->
    <!--    <link href="/static/css/main-list.css" rel="stylesheet">-->

    <style>
        .hidden-column {
     display: none;
 }

 .custom-margin-top {
     margin-top: 20px;
 }

 .custom-margin-bottom {
     margin-bottom: 10px;
 }

  #logout-button {
        margin-right: 25px; /* Adjust the margin as needed */
    }
  #header {
        margin-left: 25px; /* Adjust the margin as needed */
    }

    </style>
    <title>Save Abonent</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" id="header" href="#"><h3>Abonent Database</h3></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
        </ul>
        <form sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0"
              th:action="@{/logout}" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0" id="logout-button">
                Logout
            </button>
        </form>
    </div>
    </ul>
    </div>
</nav>
<!-- User name and role -->

<div class="d-flex custom-margin-top custom-margin-bottom">
    <b>User:</b>&nbsp; <span sec:authentication="principal.username"></span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b>Role(s):</b>&nbsp; <span sec:authentication="principal.authorities"></span>
</div>


<div sec:authorize="hasRole('ADMIN')">
    <!-- Form for adding or updating an Abonent -->
    <form action="#" th:action="@{/api/save}" th:object="${abonent}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{user}"/>
        <input type="hidden" th:field="*{createdAt}"/>
        <input type="hidden" th:field="*{updatedAt}"/>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <td>First Name</td>
                <td>Middle Name</td>
                <td>Last Name</td>
                <td>Gender</td>
                <td>Email</td>
                <td>Phone Number</td>
                <td>Action</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" th:field="*{firstName}" class="form-control w-100"
                           placeholder="First name"></td>
                <td><input type="text" th:field="*{middleName}" class="form-control w-100"
                           placeholder="Middle name"></td>
                <td><input type="text" th:field="*{lastName}" class="form-control w-100"
                           placeholder="Last name"></td>
                <td><input type="text" th:field="*{gender}" class="form-control w-100" placeholder="Gender">
                </td>
                <td><input type="text" th:field="*{email}" class="form-control w-100" placeholder="Email"></td>
                <td><input type="text" th:field="*{phoneNumber}" class="form-control w-100"
                           placeholder="Phone Number">
                </td>
                <td>
                    <button type="submit" class="btn btn-outline-primary">Save</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<hr>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th class="created-column">User</th>
        <th class="created-column">Created At</th>
        <th class="updated-column">Updated At</th>

        <div sec:authorize="hasRole('ADMIN')">
            <th>Update</th>
            <th>Delete</th>
        </div>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tempAbonent : ${abonents}">
        <td th:text="${tempAbonent.id}"/>
        <td th:text="${tempAbonent.firstName}"/>
        <td th:text="${tempAbonent.middleName}"/>
        <td th:text="${tempAbonent.lastName}"/>
        <td th:text="${tempAbonent.gender}"/>
        <td th:text="${tempAbonent.email}"/>
        <td th:text="${tempAbonent.phoneNumber}"/>
        <td class="updated-column" th:text="${tempAbonent.user}"></td>
        <td class="created-column"
            th:text="${#temporals.format(tempAbonent.createdAt, 'yyyy-MM-dd HH:mm:ss.SSS')}"></td>
        <td class="updated-column"
            th:text="${#temporals.format(tempAbonent.updatedAt, 'yyyy-MM-dd HH:mm:ss.SSS')}"></td>
        <div sec:authorize="hasRole('ADMIN')">
            <td>
                <div class="row">
                    <div class="col-small">
                        <!-- Add "update" button/link -->
                        <form action="#" th:action="@{/api/getById}" method="POST">
                            <input type="hidden" name="abonentId" th:value="${tempAbonent.id}"/>
                            <button type="submit" class="btn btn-outline-primary">Update
                            </button>
                        </form>
                    </div>
                </div>
                        </td>
            <td>
                        <!-- Add "delete" button/link -->
                        <div sec:authorize="hasRole('ADMIN')">
                            <form action="#" th:action="@{/api/delete}" method="POST">
                                <input type="hidden" name="abonentId" th:value="${tempAbonent.id}"/>
                                <button type="submit" class="btn btn-outline-danger"
                                        onclick="if (!(confirm('Are you sure you want to delete this Abonent?'))) return false">
                                    Delete
                                </button>
                            </form>
                        </div>
            </td>
                    </div>
                </div>
            </td>
        </div>
    </tr>
    </tbody>
</table>
</div>
<script>
    function toggleColumns() {
        const createdColumns = document.getElementsByClassName('created-column');
        const updatedColumns = document.getElementsByClassName('updated-column');

        // Check the current state of the first column (since all columns have the same state)
        const isHidden = createdColumns[0].classList.contains('hidden-column');

        // Toggle visibility for all columns
        for (let i = 0; i < createdColumns.length; i++) {
            createdColumns[i].classList.toggle('hidden-column', !isHidden);
            updatedColumns[i].classList.toggle('hidden-column', !isHidden);
        }
    }
</script>
</body>

</html>
