/* CreateForm.css */
.vessel-form {
    width: 100%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

.form-row {
    margin-bottom: 20px;
}

.form-row label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.form-row input[type="text"],
.form-row input[type="number"],
.form-row input[type="file"],
.form-row textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 16px;
    color: #555;
}

.form-row input[type="checkbox"] {
    margin-right: 10px;
}

.create-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.create-button:hover {
    background-color: #0056b3;
}

/* Checkmark styles */
.custom-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-label {
    display: block;
    width: 60px;
    height: 34px;
    border-radius: 17px;
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
}

.toggle-label.active {
    background-color: #2196F3;
}

.toggle-label input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ccc;
    border-radius: 50%;
    transition: 0.4s;
}

.toggle-label input:checked + .slider {
    background-color: #2196F3;
}

.toggle-label input:checked + .slider:before {
    transform: translateX(26px);
}
