header {
  max-width: 1920px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX( -50%);
  height: 50px;
  top: 0;
  z-index: 1;
}

.header_navbar {
  font-family: "Roboto", sans-serif;
  font-weight: 600;display: flex;
  font-size: 18px;
  justify-content: space-between;
  width: 100%;
  padding: 14px 40px;

}

.header_navbar > li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.name_company {
  flex-grow: 1;
  text-align: center;
}

.name_company > * {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: bold;
  font-size: 29px;
  color: #FFFFFF;
  vertical-align: middle;
}
.name_company img {
  max-height: 37px;
  margin-right: 20px;
}
