.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(155, 170, 210);
  margin: 0;
}
.header__logo {
  padding: 0;
}

.logo {
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  border: 1px solid rgb(48, 10, 115);
  border-radius: 50%;
  padding: 10px;
}

.header__nav__item {
  display: flex;
  list-style: none;
}

.header__nav__list {
  margin: 0 20px;
}

.header__nav__link {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;

}

.header__btn {
  margin: 20px;
  background-color: inherit;
  padding: 10px;
  font-size: inherit;
  border: 1px solid rgb(5, 10, 40);
  border-radius: 50px;
  color: rgb(34, 34, 57);
}