.FullCard {
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /*border-radius: 12px;*/
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    }
}

.loading-text, .error-text {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.loading-text {
    color: #666;
}

.error-text {
    color: #ff0000;
}

.card-image {
    border-radius: 8px;
    margin-bottom: 20px;
    max-width: 40%;  /* Ensure image doesn't overflow */
    height: auto;
}

.card-details {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distributes the space between title and card info */
}

.card-title {
    font-size: 18px;
    /*margin-bottom: 24px;*/
    color: #333;
    font-weight: bold;
}

.card-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.card-info p {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
    font-weight: 500;
}

.description {
    font-style: italic;
    margin-top: 20px;
    font-size: 20px;
    color: #444;
    grid-column: span 2; /* Makes the description span 2 columns in the grid */
}

.form-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  /* Wrap onto the next line if space is tight */
}

.form-column {
    flex: 1;
    padding: 0 15px;
}

