/*Full card*/
.container {
    display: flex;
    flex-direction: column;
    width: 100%;  /* New: set the width to 100% of its parent */
    max-width: 1440px;
    margin: 0 auto;  /* New: centers the container if the viewport width is greater than the max-width */
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%; /* Add this line */
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.image-container {
    margin-bottom: 10px;
}

.vessel-image {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.upload-section {
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 0 0 8px 8px;
}

.form-row {
    margin-bottom: 15px;
}

.form-row label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555; /* Changed font color to match card details */
}

.form-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; /* Add this line */
}

.form-column {
    flex: 1;
    padding: 0 15px;
    box-sizing: border-box; /* This ensures padding is included in the width */
}